//
      ____ ___________      _____
      |    |   \______ \    /     \
      |    |   /|    |  \  /  \ /  \
      |    |  / |    `   \/    Y    \
      |______/ /_______  /\____|__  /
                       \/         \/
                  UDM

doctype html
html.no-js(lang='de')
  include header
  body
    block content

    //if lt IE 8
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please a(href='http://browsehappy.com/') upgrade your browser</a> to improve your experience.

    script(src='build/bundle.js')
